<nav>
    <ul>
        <li class="left nameSite">
            개발자토론마당
        </li>
        <li class="left">
            <a href="#">전자게시판</a>
        </li>
        <li class="left">
            <a href="#">실시간대화</a>
        </li>
        <li class="right" style="margin-right: 40px;">
            <a href="#">사용자가입</a>
        </li>
        <li class="right">
            <a href="/register">사용자등록</a>
        </li>
    </ul>
</nav>