<!DOCTYPE html>
<html>
    <head>
        <title>
            Developer Forem
        </title>
        <link href="/header.css" rel="stylesheet" type="text/css">
        <link href="/footer.css" rel="stylesheet" type="text/css">
        <link href = "/index.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="container">
            <%- include('header') %>
            <main>
                <div class="text">
                    <h1>
                        개발자토론마당
                    </h1>
                    <h3>
                        전자게시판을 통한 기사투고 및 열람을 진행할수 있으며 실시간대화를 리용하여 토론을 진행할수  있습니다.
                    </h3>
                </div>
            </main>
            <%- include('footer') %>
        </div>
    </body>
</html>